.reaction-mode {
  position: relative;
}

.builder-box-tasks {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 40rem;
  background-color: black;
  border-style: solid;
  margin-top: 2rem;
  width: 40rem;
  height: 32rem;
}

.task-row-1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
}

.builder-button {
  margin-top: 1rem;
  height: 2.5rem;
  width: 7.5rem;
}

.tasks {
  height: 2rem;
  margin: 5px 25px 8px 0px;
}