/* BUILDER */

.builder-box {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 40rem;
  background-color: black;
  border-style: solid;
  margin-top: 1.5rem;
  width: 40rem;
  height: 32rem;
}

.stats {
  display: flex;
  flex: 3;
  flex-direction: row;
}

.builder-column {
  flex: 1;
  flex-direction: column;
}

.buttons {
  flex: 3;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}

.builder-button {
  margin-top: 1rem;
  height: 2.5rem;
  width: 5rem;
}

.arrow-button {
  margin-top: 1rem;
  height: 2.5rem;
  width: 5rem;
}

.spawn-button {
  margin: 5px 25px 8px 0px;
}

hr {
  border-color: #00F010;
}