.builder-box {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 40rem;
  background-color: black;
  border-style: solid;
  margin-top: 2rem;
  width: 40rem;
  height: 32rem;
}

.inner-builder {
  display: flex;
  flex: 2;
  flex-direction: row;
}

.left-builder {
  flex: 1;
  border-style: solid;
  height: 16rem;
}

.left-builder > h3 {
  text-decoration: underline;
}

.right-builder {
  flex: 1;
  border-style: solid;
  height: 16rem;
}

.right-builder > h3 {
  text-decoration: underline;
}

.builder-button {
  margin-top: 1rem;
  height: 2.5rem;
  width: 5rem;
}

.structure-button {
  margin: 5px 25px 8px 0px;
}