.aliens-box {
  flex: 3;
  text-align: center;
  border-style: solid;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  height: 60vh;
}

.list-box-aliens {
  display: flex;
  flex: 3;
  flex-direction: row;
  height: 48vh;
}

.top-aliens {
  border-style: solid;
  border-width: 1px 0px;
  text-align: center;
} 

.left-column-aliens {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-style: dotted;
  border-width: 0px 1px 0px 0px;
}

.middle-column-aliens {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.right-column-aliens {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  border-style: dotted;
  border-width: 0px 0px 0px 1px;
}

.bottom-row-aliens {
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: auto;
}

ul {
  justify-content: left;
}

@media only screen and (min-width: 900px) {
  .aliens-box {
    flex: 3;
    text-align: center;
    border-style: solid;
    margin-left: 5%;
    margin-right: 10%;
    height: 58vh;
  }
  
  .list-box-aliens {
    display: flex;
    flex: 3;
    flex-direction: row;
    height: 38vh;
  }
}