.start-box {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 40rem;
  background-color: black;
  border-style: solid;
  margin-top: 2rem;
  width: 40rem;
  height: 25rem;
}

.story-button {
  margin-top: 3rem;
  height: 2.5rem;
  width: 10rem;
}

.story-button > a {
  color: #000000;
  text-decoration: none;
}