.App-Game {
  flex: 1;
}

.status-bar {
  margin-top: -4%;
}

.status-bar-major {
  display: flex;
  flex: 1;
}

.status-bar-minor {
  display: flex;
  flex: 1;
  margin-top: -25px;
}

.far-left-major {
  flex: 1;
}

.left-major {
  flex: 1;
  justify-content: left;
  border-style: solid;
  border-width: 0px 0px 1px 2px;
}

.far-right-major {
  flex: 1;
}

.right-major {
  flex: 1;
  justify-content: left;
  border-style: solid;
  border-width: 0px 2px 1px 0px;
}

.far-left-minor {
  flex: 2;
}

.far-right-minor {
  flex: 2;
}

.center-minor {
  flex: 1;
  border-style: solid;
  border-width: 1px;
  margin-top: 0.5%;
  margin-bottom: -0.5%;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.left-status {
  flex: 1;
  justify-content: left;
}

.center-status {
  flex: 1;
  justify-content: center;
}
  
.right-major {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gameplay-style {
  display: flex;
  flex: 6;
  justify-content: center;
  flex-direction: row;
  margin-top: 1%;
  margin-bottom: 2%;
}

.reaction-mode {
  position: relative;
}

.game-footer {
  border-style: solid;
  border-top-width: 4px;
  border-bottom-width: 0px;
  border-left-width: 2px;
  border-right-width: 2px;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 15%;
}

.task-button {
  margin-top: 15%;
  height: 5vh;
  width: 28vw;
  font-size: 90%;
}

.spawn-aliens-button {
  margin-top: 15%;
  height: 5vh;
  width: 24vw;
  font-size: 90%;
}

.construct-structures-button {
  margin-top: 15%;
  height: 5vh;
  width: 24vw;
  font-size: 90%;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

.orange {
  color: #FF6400;
}

.gold {
  color: #FFC800;
}

@media only screen and (min-width: 900px) {
  .status-bar {
    margin-top: 0%;
  }

  .gameplay-style {
    margin-top: 0%;
    margin-bottom: 2%;
  }

  .game-footer {
    margin-top: 0%;
  }

  .task-button {
    margin-top: 8%;
    height: 6vh;
    width: 25vw;
  }
  
  .spawn-aliens-button {
    margin-top: 15%;
    height: 6vh;
    width: 20vh;
  }
  
  .construct-structures-button {
    margin-top: 15%;
    height: 6vh;
    width: 20vh;
  }
}