.status-bar-major {
  display: flex;
  flex: 1;
}

.status-bar-minor {
  display: flex;
  flex: 1;
  margin-top: -25px;
}

.far-left-major {
  flex: 1;
}

.left-major {
  flex: 1;
  justify-content: left;
  border-style: solid;
  border-width: 0px 0px 1px 2px;
}

.far-right-major {
  flex: 1;
}

.right-major {
  flex: 1;
  justify-content: left;
  border-style: solid;
  border-width: 0px 2px 1px 0px;
}

.far-left-minor {
  flex: 2;
}

.far-right-minor {
  flex: 2;
}

.center-minor {
  flex: 1;
  border-style: solid;
  border-width: 1px;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.left-status {
  flex: 1;
  justify-content: left;
}

.center-status {
  flex: 1;
  justify-content: center;
}
  
.right-major {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gameplay-style {
  display: flex;
  flex: 6;
  justify-content: center;
  flex-direction: row;
  margin-top: 1%;
  margin-bottom: 5rem;
}

.reaction-mode {
  position: relative;
}

.game-footer {
  border-style: solid;
  border-top-width: 4px;
  border-bottom-width: 0px;
  border-left-width: 2px;
  border-right-width: 2px;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  flex-direction: row;
}







.alien-structures-box {
  flex: 3;
  text-align: center;
  border-style: solid;
  margin-left: 10%;
  margin-right: 5%;
  height: 30rem;
}

.build-aliens-button {
  margin-top: 45%;
  height: 3rem;
  width: 10rem;
}

.build-structures-button {
  margin-top: 45%;
  height: 3rem;
  width: 10rem;
}

ul {
  list-style-type: none;
}

.orange {
  color: #FF6400;
}

.gold {
  color: #FFC800;
}